In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("leetcode_problems_and_companies.csv")

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   problem_link  3864 non-null   object
 1   problem_name  3864 non-null   object
 2   company_name  3864 non-null   object
 3   num_occur     3864 non-null   object
dtypes: object(4)
memory usage: 120.9+ KB

In [8]:
df1.head()

,problem_link,problem_name,company_name,num_occur
0,https://leetcode.com/problems/minimum-consecut...,Minimum Consecutive Cards to Pick Up,Google,1
1,https://leetcode.com/problems/remove-digit-fro...,Remove Digit From Number to Maximize Result,Microsoft,2
2,https://leetcode.com/problems/minimum-average-...,Minimum Average Difference,Amazon,1
3,https://leetcode.com/problems/count-prefixes-o...,Count Prefixes of a Given String,Google,1
4,https://leetcode.com/problems/intersection-of-...,Intersection of Multiple Arrays,Uber,1

In [9]:
df1.describe()

,problem_link,problem_name,company_name,num_occur
count,3864,3864,3864,3864
unique,1263,1263,187,95
top,https://leetcode.com/problems/two-sum/,Two Sum,Amazon,2
freq,30,30,592,1408

In [6]:
df2  = pd.read_csv("leetcode_problems.csv")

In [7]:
df2.head()

,name,link,difficulty,solution
0,Largest 3-Same-Digit Number in String,https://leetcode.com/problems/largest-3-same-d...,Easy ...,[Java](https://github.com/fishercoder1534/Leet...
1,Minimum Consecutive Cards to Pick Up,https://leetcode.com/problems/minimum-consecut...,Medium ...,[Java](https://github.com/fishercoder1534/Leet...
2,Remove Digit From Number to Maximize Result,https://leetcode.com/problems/remove-digit-fro...,Easy ...,[Java](https://github.com/fishercoder1534/Leet...
3,Minimum Average Difference,https://leetcode.com/problems/minimum-average-...,Medium ...,[Java](https://github.com/fishercoder1534/Leet...
4,Count Prefixes of a Given String,https://leetcode.com/problems/count-prefixes-o...,Easy ...,[Java](https://github.com/fishercoder1534/Leet...

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1338 non-null   object
 1   link        1338 non-null   object
 2   difficulty  1328 non-null   object
 3   solution    1338 non-null   object
dtypes: object(4)
memory usage: 41.9+ KB

In [11]:
df2.describe()

,name,link,difficulty,solution
count,1338,1338,1328,1338
unique,1336,1336,10,1333
top,Remove Palindromic Subsequences,https://leetcode.com/problems/remove-palindrom...,Medium,[Solution](https://github.com/fishercoder1534/...
freq,2,2,373,2

In [ ]:
df3 = pd.read_csv("l")